<!--:is_spicy => false,-->
<!--:is_veg => false,-->
<!--:is_best_offer => true,-->

<div class="d-flex justify-content-between mt-5">
  <div class="card p-3 bg-white"><i class="fa fa-apple"></i>
    <div class="about-product mt-2"><img src="<%= @pizza.path_to_image %>">
      <div>
        <h4><%= @pizza.title %></h4>
        <h6 class="mt-0 text-black-50"><%= @pizza.description %></h6>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between p-price"><span>Стоимость </span><span><%= @pizza.price %> руб.</span></div>
      <div class="d-flex justify-content-between p-price"><span>Размер </span><span><%= @pizza.size %> см</span></div>
    </div>
  </div>
</div>