<h3>Наши предложения:</h3>
<br>

<div class="row">
  <% @product.each do |row|  %>
  <div class="col-md-4">
    <img src="<%= row.path_to_image %>" class="img-thumbnail">
    <br>
    <br>
    <a href="/product/<%= row.id %>"><p><%= row.title %></p></a>
    <p><%= row.price %> грн.</p>
    <p><%= row.description %></p>
    <div>
      <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= row.id %>)">В корзину</button>
    </div>
    <br>
  </div>

<% end %>
</div>





